.col-md-3
.col-md-6
  %h2.head-text.text-center 
    Let us make your link 
    %em shorter
    !
  = form_for(@link) do |f|
    #alerts.alert.alert-danger.hidden{role: 'alert'}
      %button.close{"data-dismiss" => "alert", :type => "button"} &times;
      %ul
    .input-group.styled
      = f.text_field :given_url, placeholder: 'Enter URL to shrink', class: 'form-control'
      %span.input-group-btn
        = f.submit class: 'btn btn-default'
